{% extends "wagtailadmin/base.html" %}

{% block titletag %}Variables{% endblock %}
{% block bodyclass %}menu-variables{% endblock %}

{% block content %}
{% include "wagtailadmin/shared/header.html" with title="Variables" icon="placeholder" add_link="variables:add" add_text="Create Variable" %}

<div class="nice-padding">
    <div id="variables-results" class="variables">
        <h2>User defined variables</h2>
        {% if expressions.exists %}
        <table class="listing">
            <col />
            <thead>
                <tr class="table-headers">
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for expression in expressions %}
                <tr>
                    <td class="title">
                        <a href="{% url 'variables:edit' expression.pk %}">
                            {{ expression.name }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>You haven't created any variables yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
