{% extends "wagtailadmin/base.html" %}

{% block titletag %}Variables{% endblock %}
{% block bodyclass %}menu-variables{% endblock %}

{% block extra_css %}
<style>
.raster-status.done {
  color: #148744;
}

.raster-status.working {
  color: #b7a500;
}

.raster-status.bad {
  color: #840d00;
}
</style>
{% endblock %}

{% block content %}
{% include "wagtailadmin/shared/header.html" with title="Variables" icon="placeholder" add_link="variables:add" add_text="Create Variable" %}

<div class="nice-padding">
  <div id="variables-results" class="variables">
    {% if variables %}
    <table class="listing">
      <col />
      <col />
      <col />
      <col />
      <col />
      <thead>
        <tr class="table-headers">
          <th>Name</th>
          <th>Description</th>
          <th>Dimensions</th>
          <th>Bounds</th>
          <th>Last Modified</th>
          <th>Inputs Used</th>
        </tr>
      </thead>
      <tbody>
        {% for variable in variables %}
        <tr>
          <td class="title">
            <a href="{% url 'variables:edit' variable.pk %}">
              <h2>{{ variable.name }}</h2>
            </a>
          </td>
          <td class="description">
            {{ variable.description }}
          </td>
          <td class="spatial_domain">
            {{ variable.saved_dimensions }}
          </td>
          <td class='bounds'>
            {{ variable.bounds }}
          </td>
          <td>
            {{ variable.modified }}
          </td>
          <td>
            <dl class='variable-status' data-vpk='{{variable.pk}}'>
              {% if variable.layers %}
              <dt>Layers</dt>
              <dd>
                {% for layer in variable.layers %}
                  {% if forloop.first %}
                    {{ layer.name }}
                  {% else %}
                    , {{ layer.name }}
                  {% endif %}
                {% endfor %}
              </dd>
              {% endif %}
              {% if variable.tables %}
              <dt>Tables</dt>
              <dd>
                {% for table in variable.tables %}
                  {% if forloop.first %}
                    {{ table.name }}
                  {% else %}
                    {{ table.name }}
                  {% endif %}
                {% endfor %}
              </dd>
              {% endif %}
            </dl>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>You haven't created any variables yet.</p>
    {% endif %}
  </div>
  <script>
  $('.variable-status').each(function(idx, el){
    $.getJSON(
      '/variables/variable_raster_status_'+$(el).data('vpk')+'.json',
      function(data){
        if(data){
          var html = '<dt>Rasters</dt>';
          html += '<dd>';
          var any = false;
          $.each(data, function(status, raster){
              html += '<span class="raster-status ';
              if (status == 'complete'){
                html += 'done';
              } else if (status == 'failed'){
                html += 'bad';
              } else {
                html += 'working';
              }
              html += '">';
              html += raster + '&nbsp;(<em>' + status + '</em>)';
              html += '</span><br/>';
              any = true;
          });
          html += '</dd>';
          if (any){
            $(el).append(html);
          }
        }
      }
    );
  });
  </script>
</div>
{% endblock %}
