{% extends "wagtailadmin/base.html" %}

{% block titletag %}Variables{% endblock %}
{% block bodyclass %}menu-variables{% endblock %}

{% block content %}
{% include "wagtailadmin/shared/header.html" with title="Variables" icon="placeholder" add_link="variables:add" add_text="Create Variable" %}

<div class="nice-padding">
    <div id="variables-results" class="variables">
        {% if variables.exists %}
        <table class="listing">
            <col />
            <col />
            <col />
            <col />
            <thead>
                <tr class="table-headers">
                    <th>Name</th>
                    <th>Description</th>
                    <th>Dimensions</th>
                    <th>Last Modified</th>
                </tr>
            </thead>
            <tbody>
                {% for variable in variables %}
                <tr>
                    <td class="title">
                        <a href="{% url 'variables:edit' variable.pk %}">
                            {{ variable.name }}
                        </a>
                    </td>
                    <td class="description">
                        {{ variable.description }}
                    </td>
                    <td class="spatial_domain">
                        {{ variable.saved_dimensions }}
                    </td>
                    <td>
                        {{ variable.modified }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>You haven't created any variables yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
