{% extends "wagtailadmin/base.html" %}

{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" />
<style>
  .map {
    height: 400px;
  }
  .modal-content {
    padding-bottom: 0 !important;
  }

/*(  .Select {
    display: inline-block;
    width: 100px;
  }*/
</style>
{% endblock %}

{% block titletag %}Add new variable{% endblock %}
{% block bodyclass %}menu-sieve{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/react@15/dist/react.min.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.29.4/react-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/redux/3.5.2/redux.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-redux/4.4.5/react-redux.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/redux-thunk/2.1.0/redux-thunk.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/redux-form/6.0.0/redux-form.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/EventEmitter/5.1.0/EventEmitter.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
<script src="/static/js/TileLayer.GeoJSON.js"></script>
<script src="https://unpkg.com/classnames/index.js"></script>
<script src="https://unpkg.com/react-input-autosize/dist/react-input-autosize.js"></script>
<script src="https://unpkg.com/react-select/dist/react-select.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
{% endblock %}

{% block content %}
{% include "wagtailadmin/shared/header.html" with title="Add new variable" icon="placeholder" add_link="variables:add" add_text="Add Variable" %}

<div class="nice-padding">
    <div id="sieve-container"></div>
</div>

<script>

window.redirect_after_save = "{% url 'variables:index' %}";
var csrf_token = "{{ csrf_token }}";
var raster_catalog = {{ raster_catalog|safe }};
var sieve_props = {};
var NODE_TYPES = {{ node_types|safe }};
{% if variable %}
sieve_props = {
  description: "{{ variable.description }}",
  created: "{{ variable.created }}",
  modified: "{{ variable.modified }}",
  input_variables: {{ variable.input_variables_json|safe }} ,
  id: "{{ variable.pk }}",
  name: "{{ variable.name }}",
  tree: {{ variable.tree_json|safe }}
};
{% endif %}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        }
    }
});

// Webpacking in browser is kind of a kludge...
document.addEventListener('sievedefined', function(e) {
  e.detail.sieve(
    document.getElementById("sieve-container")
  );
}, false);
</script>

<script type="text/javascript" src="{% static 'js/sieve.js' %}"></script>

{% endblock %}
