{% extends "wagtailadmin/base.html" %}

{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
<style>
  .map {
    height: 400px;
  }
</style>
{% endblock %}

{% block titletag %}Sieve{% endblock %}
{% block bodyclass %}menu-sieve{% endblock %}

{% block extra_js %}
<script src="https://fb.me/react-15.1.0.js"></script>
<script src="https://fb.me/react-dom-15.1.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.29.4/react-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flux/2.1.1/Flux.js"></script>
<script src="https://rawgit.com/Olical/EventEmitter/master/EventEmitter.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.7/leaflet.js"></script>
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
<script type='text/javascript' src="{% static 'js/Actions.js' %}"></script>
<script type='text/javascript' src="{% static 'js/VariableStores.js' %}"></script>
<script type="text/babel" src="{% static 'js/sieve.jsx' %}"></script>
{% endblock %}

{% block content %}
{% include "wagtailadmin/shared/header.html" with title="Sieve" icon="placeholder" %}

<div class="nice-padding">
    <div id="sieve-container"></div>
</div>

<script>
window.redirect_after_save = "{% url 'variables:index' %}";

// Webpacking in browser is kind of a kludge...
document.addEventListener('sievedefined', function(e) {
  ReactDOM.render(
      {% if expression %}
      React.createElement(e.detail.Sieve, {initialData: {
        {% if expression.description %}description: "{{ expression.description }}",{% endif %}
        {% if expression.aggregate_method %}aggregateMethod: "{{ expression.aggregate_method }}",{% endif %}
        {% if expression.aggregate_dimension %}aggregateDimension: "{{ expression.aggregate_dimension }}",{% endif %}
        {% if expression.temporal_domain %}temporalDomain: {start: new Date("{{ expression.temporal_domain.lower }}"), end: new Date("{{ expression.temporal_domain.upper }}")},{% endif %}
        filters: {{ filters|safe }},
        id: {{ expression.pk }},
        title: "{{ expression.name }}",
        expressionText: "{{ expression.expression_text }}"
      }}),
      {% else %}
      React.createElement(e.detail.Sieve, {}),
      {% endif %}
      document.getElementById("sieve-container")
  );
}, false);
</script>
{% endblock %}
