{% extends "wagtailadmin/base.html" %}

{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
<style>
  .map {
    height: 400px;
  }
  .modal-content {
    padding-bottom: 0 !important;
  }
</style>
{% endblock %}

{% block titletag %}Sieve{% endblock %}
{% block bodyclass %}menu-sieve{% endblock %}

{% block extra_js %}
<script src="https://fb.me/react-15.1.0.js"></script>
<script src="https://fb.me/react-dom-15.1.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.29.4/react-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/redux/3.5.2/redux.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-redux/4.4.5/react-redux.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/redux-thunk/2.1.0/redux-thunk.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/redux-form/6.0.0/redux-form.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/EventEmitter/5.1.0/EventEmitter.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>

<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
{% endblock %}

{% block content %}
{% include "wagtailadmin/shared/header.html" with title="Sieve" icon="placeholder" %}

<div class="nice-padding">
    <div id="sieve-container"></div>
</div>

<script>

window.redirect_after_save = "{% url 'variables:index' %}";
var csrf_token = "{{ csrf_token }}";

var sieve_props = {};
{% if variable %}
sieve_props = {
  description: "{{ variable.description }}",
  created: "{{ variable.created }}",
  modified: "{{ variable.modified }}",
  input_variables: {{ variable.input_variables_json|safe }},
  id: "{{ variable.pk }}",
  name: "{{ variable.name }}",
  tree: {{ variable.tree_json|safe }}
};
{% endif %}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        }
    }
});

// Webpacking in browser is kind of a kludge...
document.addEventListener('sievedefined', function(e) {
  e.detail.sieve(
    document.getElementById("sieve-container")
  );

}, false);
</script>

<script type="text/javascript" src="{% static 'js/sieve.js' %}"></script>

{% endblock %}
