{% load geokit_blocks_tags %}

<div class="panel panel-default">
  <div class="panel-body">
    <div id="graph-{{ self.id }}"></div>
  </div>
</div>

<script>
var data = {% graph_data self %};

/*var margin = {top: 20, right: 40, bottom: 30, left: 40},
    width  = 500 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

if (data.type == 'scatter') {
  (function(data) {
    var x_scale = Plotly.d3.scale.ordinal()
                        .domain(data.values.map(function(d) { return d.location_id; }))
                        .rangePoints([0, width]);

    var y_scale = Plotly.d3.scale.linear()
                          .domain([0, Plotly.d3.max(data.values, function(d) {
                              return d.value;
                          })])
                          .range([height, 0]);

    var graph = Plotly.d3.select("#graph-{{ self.id }}")
                .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var tooltip = graph.append("g")
          .attr("display", "none");
    tooltip.append("text");

    graph.selectAll("circle")
        .data(data.values)
        .enter()
            .append("circle")
            .attr("cx", function(d) {
                return x_scale(d.location_id);
            })
            .attr("cy", function(d) {
                return y_scale(d.value);
            })
            .attr("r", 3)
            .on("mouseover", function(d) {
                tooltip.select("text").text(JSON.stringify(d.metadata));
                tooltip.attr("transform", "translate(" + x_scale(d.location_id) + "," + y_scale(d.value) + ")")
                        .attr("display", null);
            })
            .on("mouseout", function(d) {
                tooltip.attr("display", "none");
            });

    var x_axis = Plotly.d3.svg.axis()
                    .scale(x_scale)
                    .tickValues(x_scale.domain().filter(function() { return false; }))
                    .orient("bottom");

    var y_axis = Plotly.d3.svg.axis()
                    .scale(y_scale)
                    .orient("left");

    graph.append("g")
        .attr("class", "axis")
        .attr("transform", "translate(0, " + height + ")")
        .call(x_axis);

    graph.append("g")
        .attr("class", "axis")
        .call(y_axis);
  })(data);
} else if (data.type == 'timeseries') {
  (function(data) {
    var parse_date = Plotly.d3.time.format("%Y-%m-%d").parse;
    var x_scale = Plotly.d3.time.scale()
                        .domain([
                            Plotly.d3.min(data.values, function(d) { return parse_date(d.date); }),
                            Plotly.d3.max(data.values, function(d) { return parse_date(d.date); })
                        ])
                        .range([0, width]);

    var y_scale = Plotly.d3.scale.linear()
                          .domain([0, Plotly.d3.max(data.values, function(d) {
                            return d.value;
                          })])
                          .range([height, 0]);

    var graph = Plotly.d3.select("#graph-{{ self.id }}")
                .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var line = Plotly.d3.svg.line()
        .x(function(d) { return x_scale(parse_date(d.date)); })
        .y(function(d) { return y_scale(d.value); });

    graph.append("path")
          .datum(data.values)
          .attr("class", "graph-line")
          .attr("d", line);

    var x_axis = Plotly.d3.svg.axis()
                    .scale(x_scale)
                    .orient("bottom");

    var y_axis = Plotly.d3.svg.axis()
                    .scale(y_scale)
                    .orient("left");

    graph.append("g")
        .attr("class", "axis")
        .attr("transform", "translate(0, " + height + ")")
        .call(x_axis);

    graph.append("g")
        .attr("class", "axis")
        .call(y_axis);
  })(data);
} */

Plotly.newPlot('graph-{{ self.id }}', [data]);
</script>
