{% load geokit_blocks_tags %}

<div class="panel panel-default">
  <div class="panel-body">
    <div id="graph-{{ self.id }}"></div>
  </div>
</div>

<script>
var data = {% graph_data self %};

var margin = {top: 20, right: 40, bottom: 30, left: 40},
    width  = 500 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

if (data.type == 'scatter') {
  var x_scale = d3.scale.ordinal()
                      .domain(data.values.map(function(d) { return d.location_id; }))
                      .rangePoints([0, width]);

  var y_scale = d3.scale.linear()
                        .domain([0, d3.max(data.values, function(d) {
                            return d.value;
                        })])
                        .range([height, 0]);

  var graph = d3.select("#graph-{{ self.id }}")
              .append("svg")
                  .attr("width", width + margin.left + margin.right)
                  .attr("height", height + margin.top + margin.bottom)
              .append("g")
                  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  graph.selectAll("circle")
      .data(data.values)
      .enter()
          .append("circle")
          .attr("cx", function(d) {
              return x_scale(d.location_id);
          })
          .attr("cy", function(d) {
              return y_scale(d.value);
          })
          .attr("r", 3);

  var x_axis = d3.svg.axis()
                  .scale(x_scale)
                  .orient("bottom");

  var y_axis = d3.svg.axis()
                  .scale(y_scale)
                  .orient("left");

  graph.append("g")
      .attr("class", "axis")
      .attr("transform", "translate(0, " + height + ")")
      .call(x_axis);

  graph.append("g")
      .attr("class", "axis")
      .call(y_axis);
} else if (data.type == 'timeseries') {
  var parse_date = d3.time.format("%Y-%m-%d").parse;
  var x_scale = d3.time.scale()
                       .domain([
                           d3.min(data.values, function(d) { return parse_date(d.date); }),
                           d3.max(data.values, function(d) { return parse_date(d.date); })
                       ])
                       .range([0, width]);

  var y_scale = d3.scale.linear()
                        .domain([0, d3.max(data.values, function(d) {
                          return d.value;
                        })])
                        .range([height, 0]);

  var graph = d3.select("#graph-{{ self.id }}")
              .append("svg")
                  .attr("width", width + margin.left + margin.right)
                  .attr("height", height + margin.top + margin.bottom)
              .append("g")
                  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  var line = d3.svg.line()
      .x(function(d) { return x_scale(parse_date(d.date)); })
      .y(function(d) { return y_scale(d.value); });

  graph.append("path")
        .datum(data.values)
        .attr("d", line);

  var x_axis = d3.svg.axis()
                  .scale(x_scale)
                  .orient("bottom");

  var y_axis = d3.svg.axis()
                  .scale(y_scale)
                  .orient("left");

  graph.append("g")
      .attr("class", "axis")
      .attr("transform", "translate(0, " + height + ")")
      .call(x_axis);

  graph.append("g")
      .attr("class", "axis")
      .call(y_axis);
}


</script>
