<div class="panel panel-default">
    <div class="panel-body">
        <div class="visualization-block" id="vis-block">
        </div>
    </div>
</div>

<script>
ReactDOM.render(
    React.createElement(
        VisualizationGroup,
        {
            control: '{{ self.control.vis_type }}',
            visualizations: [
                {% for vis in self.visualizations %}{
                    'variable_id': '{{ vis.variable.id }}',
                    'variable_name': '{{ vis.variable.name }}',
                    'type': '{{ vis.vis_type }}',
                    'bounds': '{{ vis.variable.bounds }}',
                    'dimensions': '{{ vis.variable.saved_dimension }}',
                    'unique_id': {{ forloop.counter }}
                }{% if not forloop.last %},{% endif %}{% endfor %}
            ]
        }
    ),
    document.getElementById('vis-block')
);
</script>
