{% extends "base.html" %}

{% load menu_tags wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load geokit_blocks_tags %}
{% load static from staticfiles %}

{% block extra_js %}
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
  <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
  <script src="/static/js/TileLayer.GeoJSON.js"></script>
  <script src="/static/js/builder.js"></script>
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />

  <style>
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
    }
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/custom_styles.css' %}">
{% endblock %}

{% block bodyclass %}template-custompage{% endblock %}
{% block content %}
  {% get_site_root as site_root %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% pageurl site_root %}">{{ request.tenant.name }}</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        {% block menu %}
          {% get_site_root as site_root %}
          {% menu parent=site_root calling_page=self %}
        {% endblock %}
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-8 col-lg-offset-2" style="margin-top: 10vh;">
        {% for block in self.body %}
          <section class="block-{{ block.block_type }}">
            {% if block.type == 'paragraph' %}
              {{ block|richtext }}
            {% elif block.block_type == 'image' %}
            {% image block.value max-500x300 %}
            {% elif block.block_type == 'table' %}
              {{ block|render_with_user:request.user }}
            {% else %}
              {{ block }}
            {% endif %}
          </section>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <footer class="footer">
    <div class="container">
      <p>&copy; Copyright 2016 GeoKit. <a href="http://geokit.io/">
        Create your own <strong>Geo</strong>Kit site</a>.</p>
    </div>
  </footer>
{% endblock %}