{% extends 'account/base.html' %}

{% load static %}
{% block extra_head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="/static/wagtailadmin/js/vendor/modernizr-2.6.2.min.js"></script>
<link rel="stylesheet" href="/static/wagtailadmin/css/normalize.css" />
<link rel="stylesheet" href="/static/wagtailadmin/css/vendor/jquery-ui/jquery-ui-1.10.3.verdant.css" />
<link rel="stylesheet" href="/static/wagtailadmin/css/vendor/jquery.tagit.css">
<link rel="stylesheet" href="/static/wagtailadmin/css/core.css" type="text/css" />
<link rel="stylesheet" href="/static/wagtailadmin/css/layouts/home.css" type="text/css" />
<link rel="stylesheet" href="/static/account/css/adminstyles.css" type="text/css">
<link rel="shortcut icon" href="/static/wagtailadmin/images/favicon.ico" />
{% endblock %}


{% block body %}
  <script src="/static/wagtailadmin/js/vendor/jquery-2.2.1.js"></script>
  <script src="/static/wagtailadmin/js/vendor/jquery-ui-1.10.3.js"></script>
  <script src="/static/wagtailadmin/js/vendor/jquery.datetimepicker.js"></script>
  <script src="/static/wagtailadmin/js/vendor/jquery.autosize.js"></script>
  <script src="/static/wagtailadmin/js/vendor/bootstrap-transition.js"></script>
  <script src="/static/wagtailadmin/js/vendor/bootstrap-modal.js"></script>
  <script src="/static/wagtailadmin/js/vendor/bootstrap-tab.js"></script>
  <script src="/static/wagtailadmin/js/vendor/jquery.dlmenu.js"></script>
  <script src="/static/wagtailadmin/js/vendor/tag-it.js"></script>
  <script src="/static/wagtailadmin/js/core.js"></script>
  <script type="text/javascript" src="/static/wagtailadmin/js/explorer-menu.js"></script>
  <script type="text/javascript" src="/static/wagtailadmin/js/submenu.js"></script>
  <div class="wrapper">
    <div class="nav-wrapper" style="min-height: 705px">
      <div class="inner">
        <a href="#" class="logo">
          <img src="{% static 'account/img/logo.png' %}" alt="GeoKit" width="80%" />
          <span>Dashboard</span>
        </a>
      {% block sidebar %}
        <nav class="nav-main">
          <ul>
          {% if request.user.is_authenticated %}
            <li {% if request.path == "/" %}class="menu-active"{% endif %} ><a href="/">Home</a></li>
            <li><a href="/logout/">Log out</a></li>
          {% else %}
            <li {% if 'signup' in request.path %}class="active"{% endif %}><a href="/signup/">Sign up <span class="sr-only">(current)</span></a></li>
            <li {% if 'login' in request.path %}class="active"{% endif %}><a href="/login/">Log in</a></li>
          {% endif %}
          </ul>
        </nav>
      {% endblock %}
      </div>
    </div>
    <div class="content-wrapper">
      <div class="content">
      {% block content %}
        <h1 class="page-header">Howdy chap!</h1>
        <p>You shouldn't be here.</p>
      {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
