{% extends 'account/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'account/css/landing-navigation.css' %}">
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style>
  .get-started .signup-form {
    display: none;
    text-align: center;
    vertical-align: middle;
    font-size: .8em;
    padding-bottom: 25px;
  }
  .get-started .signup-form input {
    background-color: rgba(255, 255, 255, 0.85);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.50);
    color: rgba(0, 0, 0, 0.65);
    height: 50px;
    width: 400px;
  }
  input:focus, select:focus, textarea:focus, button:focus, .btn:focus, .btn-primary:focus {
    outline: 0;
  }
  .signup-form-site-notification h1 {
    font-size: 2em;
  }
  .get-started .signup-form input:focus, .get-started .signup-form .form-control:focus, .get-started .signup-form input:active {
    background-color: rgba(255, 255, 255, 1.00);
    box-shadow: none;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.35);
  }
  .get-started .signup-form button, .get-started .signup-form .btn, .get-started .signup-form .btn-primary {
    background-color: rgba(125, 137, 167, 0.85);
    border: 0;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1.00);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.50);
    display: block;
    height: 50px;
    width: 400px;
  }
  .get-started .signup-form button:active, .get-started .signup-form .btn:active, .get-started .signup-form .btn-primary:active, .get-started .signup-form .btn-primary:focus {
    background-color: rgba(125, 137, 167, 1.00);
    border: 0;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35), 1px 1px 3px rgba(0, 0, 0, 0.50);
    outline: none;
  }
  .signup-form-site-notification {
    display: none;
  }
  .carousel {
    height: 100vh;
    overflow: hidden;
    width: 100%;
  }
  .carousel .item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }
  .carousel img {
    min-width: 100%;
    min-height: 100vh;
  }
  .cover {
    background-color: rgba(112,87,91,.55);
    display: table;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .get-started {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .get-started h1, .signup-form-site-notification {
    color: #fffeed;
    font-weight: lighter;
    margin-bottom: 30px;
    text-shadow: 1px 1px 1px #000000;
  }
  .get-started .search-alert {
    color: #fffeed;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #000000;
    display: none;
    font-weight: bold;
  }
  .get-started .search-form {
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.50);
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
  }
  .get-started input {
    background-color: rgba(255, 255, 255, 0.85);
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: rgba(0, 0, 0, 0.60);
    font-size: 20px;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    height: 45px;
    width: 400px;
  }
  .get-started input:focus, .get-started input:active {
    background-color: rgba(255, 255, 255, 1.00);
  }
  .get-started button {
    background-color: rgba(125, 137, 167, 0.85);
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    margin: 0;
    padding: 0 15px 0 15px;
    height: 45px;
  }
  .get-started button:active {
    background-color: rgba(125, 137, 167, 1.00);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
  }
  .help-block {
    display: none;
  }
  #name {
    display: none;
  }
  @media (max-width: 767px) {
    .get-started {
      text-align: center;
      vertical-align: middle;
    }
    .get-started .search-form {
      border-radius: 5px;
      box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.35);
      display: inline-block;
      margin-right: auto;
      margin-left: auto;
    }
    #search-input {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      width: 60vw;
    }
    #search-submit {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 0;
      display: block;
      margin-top: 0;
      overflow: hidden;
      width: 60vw;
    }
  }
</style>

<script type="text/javascript">
      function searchSite() {
        if ($("#search-input").val() != "") {
          $.ajax({
            url: '/availability/'+$("#search-input").val()+'/',
            beforeSend: function(xhr) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          })
            .done(function(data) {
              if (data.available === true) {
                $("#schema_name").val(data.site_name);
                $("#name").val(data.site_name);
                $(".signup-form-site-notification h1").html("<i class='fa fa-check-circle' style='color: rgba(100, 255, 100, 0.70);'></i> \"" + data.site_name + "\" is available! Complete and submit the sign up form to get started.");
                $(".signup-form-site-notification").css("display", "block");
                $("#search-form").css("display", "none");
                $("#get-started-information").css("display", "none");
                $("#signup-form").css("display", "inline-block");
              } else {
                $(".signup-form-site-notification h1").html("<i class='fa fa-times-circle' style='color: rgba(255, 100, 100, 0.70);'></i> \"" + data.site_name + "\" is already being used.");
                $(".signup-form-site-notification").css("display", "block");
                $('html, body').animate({
                  scrollTop: $("#signup").offset().top
                }, {
                  duration: 500,
                  complete: function() {
                    $("#email1").focus();
                  }
                });
              }
            });
        } else {
          $(".search-alert").css("display", "block");
          $(".search-alert p").text("Enter a site name to search for availability.");
        }
      }
      function searchSiteSignup() {
        if ($("#schema_name").val() != "") {
          $.ajax('/availability/'+$("#schema_name").val() + '/', {
            beforeSend: function(xhr) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          })
            .done(function(data) {
              if (data.available === true) {
                $(".signup-form-site-notification h1").html("<i class='fa fa-check-circle' style='color: rgba(100, 255, 100, 0.70);'></i> \"" + data.site_name + "\" is available! Complete and submit the sign up form to get started.");
                $(".signup-form-site-notification").css("display", "block");
              } else {
                $(".signup-form-site-notification h1").html("<i class='fa fa-times-circle' style='color: rgba(255, 100, 100, 0.70);'></i> \"" + data.site_name + "\" is already being used.");
                $(".signup-form-site-notification").css("display", "block");
              }
            });
        } else {
          $(".signup-form-site-notification h1").html("<i class='fa fa-info-circle'></i> Enter a site name to begin registration.");
          $(".signup-form-site-notification").css("display", "block");
        }
      }
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');
      $(document).ready(function() {
        $("button").click(function(e) {
          e.preventDefault();
        });
        $("#search-input").keypress(function() {
          if ($("#search-input").val() != "") {
            $(".search-alert").css("display", "none");
          }
        });
        $("#schema_name").keyup(function() {
          searchSiteSignup();
        });
      });
</script>
{% endblock %}
{% block body %}
{% include 'account/header.html' %}
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="10000">
    <!-- Indicators -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active" style="background-image: url({% static 'account/img/carousel-1.jpg' %});">
      </div>
      <div class="item" style="background-image: url({% static 'account/img/carousel-2.jpg' %});">
      </div>
      <div class="item" style="background-image: url({% static 'account/img/carousel-3.jpg' %});">
      </div>
      <div class="item" style="background-image: url({% static 'account/img/carousel-4.jpg' %});">
      </div>
    </div>
  </div>
  <div id="search" class="cover">
    <div id="get-started" class="get-started">
      <div id="get-started-information">
        <h1>Get started with site creation.</h1>
        <div class="search-alert">
          <p></p>
        </div>
      </div>
      <div id="search-form" class="search-form">
        <form id="search-site" name="search-site" method="post" action="">
          {% csrf_token %}
          <input type="text" name="search-input" id="search-input" placeholder="Check availability of your site name" /><button type="submit" id="search-submit" onclick="searchSite()">Let's go</button>
        </form>
      </div>
      <div class="signup-form-site-notification">
        <h1></h1>
      </div>
      <div id="signup-form" class="signup-form">
        {% crispy form_body_signup %}
      </div>
    </div>
  </div>
{% endblock %}