{% extends 'account/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style>
  nav {
    background-color: transparent;
  }
  .navbar-default {
    background-color: transparent;
    border: 0;
  }
  .navbar-default a.navbar-brand, .navbar-default a.navbar-brand:hover, .navbar-default a.navbar-brand:active, .navbar-default a.navbar-brand:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active, .navbar-default .navbar-nav li a:focus {
    color: #ffffff;
  }
  .navbar-collapse {
    border: 0;
  }
  .navbar-default .nav-geokit > .open > a,
    .navbar-default .nav-geokit > .open > a:focus,
    .navbar-default .nav-geokit > .open > a:active,
    .navbar-default .nav-geokit > .open > a:hover {
    background-color: rgba(119, 135, 116, 1.00);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-default .nav-geokit li a {
    font-weight: bold;
  }
  .nav-geokit  li ul {
    background-color: rgba(119, 135, 116, 1.00);
    border: 0;
    box-shadow: none;
  }
  .nav-geokit > li > .dropdown-menu {
    border-top-left-radius: 5px;
  }
  .nav-geokit > li > .dropdown-menu a:hover {
    background-color: rgba(94,115,96, 0.55);
  }

  #signup {
    background-color: rgba(250, 242, 225, 1.00);
    font-size: 28px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #signup h1 {
    color: rgba(131, 107, 100, 1.00);
  }
  #signup p {
    color: rgba(64, 64, 64, 0.65);
  }
  .signup-form {
    border-bottom: 1px solid #a8958c;
    border-right: 0
    font-size: .8em;
    padding-bottom: 25px;
  }
  .signup-form input {
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.65);
    display: block;
    height: 50px;
    margin-bottom: 50px;
    padding-left: 10%;
    width: 100%;
  }
  input:focus, select:focus, textarea:focus, button:focus, .btn:focus, .btn-primary:focus {
    outline: 0;
  }
  .signup-form input:focus, .form-control:focus {
    border: 1px solid rgba(131, 107, 100, 1.00);
    box-shadow: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  }
  .signup-form button, .signup-form .btn, .signup-form .btn-primary {
    background-color: rgba(131, 107, 100, 1.00);
    border: 0;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1.00);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    display: block;
    height: 50px;
    width: 100%;
  }
  .signup-form button:active, .signup-form .btn:active, .signup-form .btn-primary:active {
    background-color: rgba(101, 87, 80, 1.00);
  }
  .signup-form-site-notification {
    display: none;
  }
  #signup .signup-form-site-notification p {
    color: rgba(117, 127, 100, 1.00);
    font-size: .75em;
    margin: 0 25px 25px 25px;
  }
  .carousel {
    height: 100vh;
    overflow: hidden;
    width: 100%;
  }
  .carousel .item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }
  .carousel img {
    min-width: 100%;
    min-height: 100vh;
  }
  .cover {
    background-color: rgba(112,87,91,.55);
    display: table;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .get-started {
    display: table-cell;
    min-width: 500px;
    text-align: center;
    vertical-align: middle;
  }
  .get-started h1 {
    color: #fffeed;
    font-weight: lighter;
    margin-bottom: 60px;
    text-shadow: 1px 1px 1px #000000;
  }
  .get-started .search-alert {
    color: #fffeed;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px #000000;
    display: none;
    font-weight: bold;
  }
  .get-started .search-form {
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
  }
  .get-started input {
    background-color: #ffffff;
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: rgba(0,0,0,.60);
    font-size: 20px;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    height: 45px;
    width: 400px;
  }
  .get-started button {
    background-color: #707277;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    margin: 0;
    padding: 0 15px 0 15px;
    height: 45px;
  }
  .help-block {
    display: none;
  }
  #name {
    display: none;
  }
  @media (min-width: 768px) {
    .signup-form {
      border-bottom: 0;
      border-right: 1px solid #a8958c;
      padding-right: 15px;
      padding-bottom: 0;
    }
  }
  @media (max-width: 768px) {
      .get-started {
        min-width: 60vw;
        text-align: center;
        vertical-align: middle;
      }
      .get-started .search-form {
        border-radius: 5px;
        box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        width: 60vw;
      }
      #search-input {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
        width: 60vw;
      }
      #search-submit {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 0;
        display: block
        margin-top: 0;
        overflow: hidden;
        width: 60vw;
      }
  }
</style>

<script type="text/javascript">
      function setNavBackgroundColor() {
        if ($(document).scrollTop() > 0) {
          if ($(".navbar-default").css("background-color") == "transparent" || $(".navbar-default").css("background-color") == "rgba(0, 0, 0, 0)") {
            $(".navbar-default").css("background-color", "rgba(112, 87, 91, 1.00)");
          }
        } else if ($(document).scrollTop() == 0 && $("#search").height() && $("nav").css("background-color") != "transparent") {
          $("nav").css("background-color", "transparent");
        }
      }
      function searchSite() {
        if ($("#search-input").val() != "") {
          $.ajax({
            url: '/availability/'+$("#search-input").val()+'/',
            beforeSend: function(xhr) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          })
            .done(function(data) {
              if (data.available === true) {
                $("#schema_name").val(data.site_name);
                $("#name").val(data.site_name);
                $(".signup-form-site-notification p").css("color", "rgba(117, 127, 100, 1.00)");
                $(".signup-form-site-notification p").html("<i class='fa fa-check-circle'></i> Your site name is available. Finish signing up to get started.");
                $(".signup-form-site-notification").css("display", "block");
                $('html, body').animate({
                  scrollTop: $("#signup").offset().top
                }, {
                  duration: 500,
                  complete: function() {
                    $("#email1").focus();
                  }
                });
              } else {
                $(".signup-form-site-notification p").css("color", "rgba(131, 107, 100, 1.00)");
                $(".signup-form-site-notification p").html("<i class='fa fa-times-circle'></i> That name is currently in use.");
                $(".signup-form-site-notification").css("display", "block");
                $('html, body').animate({
                  scrollTop: $("#signup").offset().top
                }, {
                  duration: 500,
                  complete: function() {
                    $("#email1").focus();
                  }
                });
              }
            });
        } else {
          $(".search-alert").css("display", "block");
          $(".search-alert p").text("Enter a site name to search.");
        }
      }
      function searchSiteSignup() {
        if ($("#schema_name").val() != "") {
          $.ajax('/availability/'+$("#schema_name").val() + '/', {
            beforeSend: function(xhr) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          })
            .done(function(data) {
              if (data.available === true) {
                $(".signup-form-site-notification p").css("color", "rgba(117, 127, 100, 1.00)");
                $(".signup-form-site-notification p").html("<i class='fa fa-check-circle'></i> Your site name is available. Finish signing up to get started.");
                $(".signup-form-site-notification").css("display", "block");
              } else {
                $(".signup-form-site-notification p").css("color", "rgba(131, 107, 100, 1.00)");
                $(".signup-form-site-notification p").html("<i class='fa fa-times-circle'></i> That name is currently in use.");
                $(".signup-form-site-notification").css("display", "block");
              }
            });
        } else {
          $(".signup-form-site-notification p").html("<i class='fa fa-info-circle'></i> Enter a site name to begin registration.");
          $(".signup-form-site-notification").css("display", "block");
        }
      }
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');
      $(document).ready(function() {
        $("button").click(function(e) {
          e.preventDefault();
        });
        $("#search-input").keypress(function() {
          if ($("#search-input").val() != "") {
            $(".search-alert").css("display", "none");
          }
        });
        $("#schema_name").keyup(function() {
          searchSiteSignup();
        });
      });
</script>
{% endblock %}
{% block body %}
{% include 'account/header.html' %}
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="10000">
    <!-- Indicators -->

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active" style="background-image: url({% static 'account/img/carousel-1.jpg' %});">
      </div>
      <div class="item" style="background-image: url({% static 'account/img/carousel-2.jpg' %});">
      </div>
      <div class="item" style="background-image: url({% static 'account/img/carousel-3.jpg' %});">
      </div>
      <div class="item" style="background-image: url({% static 'account/img/carousel-4.jpg' %});">
      </div>
    </div>
  </div>
  <div id="search" class="cover">
    <div class="get-started">
      <h1>Get started with site creation.</h1>
      <div class="search-alert">
        <p></p>
      </div>
      <div class="search-form">
        <form id="search-site" name="search-site" method="post" action="">
          {% csrf_token %}
          <input type="text" name="search-input" id="search-input" placeholder="Check availability of your site name" /><button type="submit" id="search-submit" onclick="searchSite()">Let's go</button>
        </form>
      </div>
    </div>
  </div>
  <div id="signup" class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-lg-3">
        <div class="signup-form">
          <div class="signup-form-site-notification">
            <p></p>
          </div>
          {% crispy form_body_signup %}
        </div>
      </div>
      <div class="col-sm-8 col-lg-9">
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <h1>Need custom features?</h1>
            <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse et felis semper, tempus enim et, aliquam dolor. Cras.</p>
          </div>
          <div class="col-md-12 col-lg-6">
            <div style="background-color: #ffffff; box-shadow: 1px 1px 1px rgba(131, 107, 100, 0.25); padding: 10px;">
              <img src="{% static 'img/graph.png' %}" style="width: 100%;" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-8 pull-right">
            <div class="text-right">
              <h1>Have custom products?</h1>
              <p>Aenean sit amet luctus turpis. Nulla consequat feugiat tempus. Phasellus tempor eu sem vitae porttitor. Cras ac dui ipsum. Vivamus.</p>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
