{% extends "account/base.html" %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'account/css/landing-navigation.css' %}">
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style>
  .navbar {
    background-color: rgba(0, 0, 0, 0.80);
  }
</style>
{% endblock %}

{% block body %}
{% include 'account/header.html' %}
<div class="container" style="margin-top: 80px;">
  <div class="row">
    <div class="col-xs-12">
      <h1>Tables</h1>
      <p>GeoKit offers users the ability to submit and store tabular data formatted as comma separated values. This functionality gives users the opportunity to visualize data from sources other than those provided by GeoKit's raster data service. This is a great way for researchers to visualize data for the web without programming and various IT concerns.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="{% static 'img/table.png' %}" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-9">
      <h2>Submitting Tabular Data</h2>
      <p>This entry about tabular data should provide a brief description of how the data should be formatted, and provide a visualization of that formatting.</p>
      <ol>
        <li>Name: Tables will be selected by name during variable creation, so this should be something recognizable</li>
        <li>Description: GeoKit sites with many tables may find this optional field useful for distinguishing tables</li>
        <li>CSV File: Click the "Choose File" button to select the CSV file to be uploaded to GeoKit</li>
      </ol>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <h1>Layers</h1>
      <p>GeoKit layers are collections of spatial coordinates that define the features that users would like to visualize data for. Layers can be created from shapefiles and GeoKit's vector catalog, which is an interface for interacting with various spatial databases, giving users many options for defining the bounds of their visualizations.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-9">
      <h2>Creating Layers from Shapefiles</h2>
      <p>From the Wikipedia entry for Shapefiles:</p>
      <blockquote><i>The shapefile format is a popular geospatial vector data format for geographic information system (GIS) software. It is developed and regulated by Esri as a (mostly) open specification for data interoperability among Esri and other GIS software products. The shapefile format can spatially describe vector features: points, lines, and polygons, representing, for example, water wells, rivers, and lakes. Each item usually has attributes that describe it, such as name or temperature.</i></blockquote>
      <p>Users with GIS software experience can work with existing features by uploading their shapefiles to their GeoKit accounts.</p>
      <ol>
        <li>Name: Layers will be selected by name during variable creation, so this should be something recognizable</li>
        <li>Description: GeoKit sites with many layers may find this optional field useful for distinguishing layers</li>
        <li>Vector file: Click the "Choose File" button to select the shapefile to be uploaded to GeoKit</li>
      </ol>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="{% static 'img/create-layer-from-shapefile.png' %}" alt="...">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-9">
      <h2>Creating Layers from the Vector Catalog</h2>
      <p>GeoKit offers the Vector Catalog interface for interacting with various sources of spatial data. The vector catalog renders this spatial data onto an interactive map. GeoKit users can then select the features to be included in their layers.</p>
      <ol>
        <li>Name: Layers will be selected by name during variable creation, so this should be something recognizable</li>
        <li>Data Source: Defines the spatial configuration of the features</li>
        <li>Map: Select features to be included in the layer by pointing and clicking on individual features, or by using the geometrical selection tools provided in the map toolbar</li>
      </ol>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="{% static 'img/create-layer-from-vector-catalog.png' %}" alt="...">
      </a>
    </div>
  </div>
  <hr />
    <div class="row">
    <div class="col-xs-12">
      <h1>Variables</h1>
      <p>GeoKit variables are the marriage of spatial data with temporal observational data. GeoKit combines the spatial features defined by users in the layers they've created with tabular data provided by users or raster data provided by a GeoKit service that serves as an interface to vast NASA geospatial observational databases.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="{% static 'img/variables-spatial-configuration.png' %}" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-9">
      <h2>Spatial Configuration</h2>
      <p>GeoKit offers the Vector Catalog interface for interacting with various sources of spatial data. The vector catalog renders this spatial data onto an interactive map. GeoKit users can then select the features to be included in their layers.</p>
      <p>Steps:</p>
      <ol>
        <li>Select a layer from the dropdown</li>
      </ol>
      <p>Upon selection, the layer will be rendered on the map so that users can visually confirm that they've selected the correct layer.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-9">
      <h2>Data Configuration</h2>
      <p>Users are prompted to select either a tabular or raster data source. Users who will be visualizing data that they've uploaded to GeoKit should opt to use user-submitted data, while those who wish to use data from NASA observational databases should opt for using GeoKit data.</p>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="{% static 'img/variables-data-configuration-1.png' %}" alt="...">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="{% static 'img/variables-data-configuration-3.png' %}" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-9">
      <h2>Data Configuration - Tabular</h2>
      <p>Tabular data must be joined to spatial data using a common data attribute. A user would have a table with one of the columns being county identifier, such as name of FIPS id. The spatial layer would also have an identifier for each spatial unit. User would select pick the column name from the table to match the spatial layer identifier to match.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-9">
      <h2>Data Configuration - Raster</h2>
      <p>Raster data are available from many sources, which are listed in a table that describes the data and their temporal range of availability.</p>
      <p>Steps:</p>
      <ol>
        <li>Select the data type from the table</li>
        <li>Configure the temporal range for the data</li>
        <li>Name the data</li>
      </ol>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="{% static 'img/variables-data-configuration-2.png' %}" alt="...">
      </a>
    </div>
  </div>
</div>
{% endblock %}
