{% extends "wagtailadmin/base.html" %}

{% block titletag %}Add Table{% endblock %}

{% block content %}
{% include "wagtailadmin/shared/header.html" with title="Table" add_link="geokit_tables:add" add_text="Add Table" icon="form" %}

<div class="nice-padding">
    {{ form.non_field_errors }}
    <form action="{% url 'geokit_tables:add' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <ul class="fields">
            {% for field in form %}
                {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
            {% endfor %}
            <li><input class"btn btn-action" type="submit" value="Save" /></li>
        </ul>
    </form>
</div>
{% endblock %}
