{% extends "wagtailadmin/base.html" %}

{% block titletag %}Edit Table "{{ table.name }}"{% endblock %}

{% block content %}
{% include "wagtailadmin/shared/header.html" with title="Table" add_link="geokit_tables:add" add_text="Add Table" icon="form" %}

<div class="nice-padding">
    {{ form.non_field_errors }}
    <form action="{% url 'geokit_tables:edit' table.pk %}" method="POST">
        {% csrf_token %}
        <ul class="fields">
            {% for field in form %}
                {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
            {% endfor %}
            <li><input type="submit" value="Save" /></li>
            <a href="{% url 'geokit_tables:delete' table.pk %}" class="button button-secondary no">Delete table</a>
            {% if table.geokittablefile.file %}
            <a href="{{ table.geokittablefile.file }}" class="button button-secondary">Download Table</a>
            {% else %}
            <span id="table-download"></span>
            {% endif %}
        </ul>
    </form>
</div>

{% if not table.geokittablefile.file %}
<script src="/static/js/admin_components.js"></script>
<script>
    bindTableDownload({{ table.pk }}, document.getElementById('table-download'));
</script>
{% endif %}
{% endblock %}
