{% extends "wagtailadmin/base.html" %}

{% block titletag %}Tables{% endblock %}
{% block bodyclass %}menu-tables{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/react@15/dist/react.min.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
<script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
<script src="/static/js/builder.js"></script>
{% endblock %}

{% block content %}
{% include "wagtailadmin/shared/header.html" with title="Tables" icon="form" add_link="geokit_tables:add" add_text="Create Table" %}

<div class="nice-padding">
    <div id="tables-results" class="geokittables">
        {% if tables.exists %}
        <div id="tables-list"></div>
        {% else %}
        <p>You haven't created any tables yet.</p>
        {% endif %}
    </div>
</div>

{% if tables.exists %}
<script>
ReactDOM.render(
    React.createElement(
        TableList,
        {},
        [
            {% for table in tables %}
            React.createElement(TableListItem, {
                    id: {{ table.pk }},
                    name: "{{ table.name }}",
                    {% if table.status == 0 %}
                    description: "{{ table.description }}",
                    field_names: "{{ table.field_names|join:", " }}",
                    row_count: {{ table.record_set.count }},
                    {% endif %}
                    status: {{ table.status }}
            }, null){% if not forloop.last %},{% endif %}
            {% endfor %}
        ]
    ),
    document.getElementById("tables-list")
);
</script>
{% endif %}
{% endblock %}
