body {
  background-color: rgb(245, 245, 245);
}

a {
  color: rgba(0, 0, 0, 0.75);
}

a:hover, a:focus, a:active {
  color: rgba(0, 0, 0, 0.50);
}

@media screen and (max-width: 767px) {
  .col-geokit-site-content {
    padding-left: 30px;
  }
}

.col-geokit-site-content {
  margin-top: 15px;
}

.container-geokit {
  margin-top: 0;
  padding-left: 0;
}

.navbar {
  background-color: rgb(112, 87, 91);
  margin-bottom: 0;
}

ul.dropdown-menu, li.open a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: rgb(122, 125, 122);
  box-shadow: none;
  border: 0;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand, ul.dropdown-menu, li.open a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: rgb(255, 255, 255);
}

.dropdown-menu .divider {
  background-color: rgb(250, 246, 237);
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  background-color: rgb(92, 67, 71);
  color: rgb(255, 255, 255);
}

.dropdown-menu > li > a:hover {
  background-color: rgb(102, 105, 102);
  color: #ffffff;
}

.navbar-default {
  border-radius: 0;
  border: 0;
}

.panel-geokit-site-menu {
  border-radius: 0;
  min-height: 100vh;
}

.panel-geokit-site-menu ul li.active {
  font-weight: bold;
}

.powered-by {
  background-color: rgb(240, 236, 227);
  border-bottom: 1px solid rgb(192, 167, 171);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
  padding: 5px 10px 5px 0;
  position: relative;
  z-index: 50;
}

.site-menu {
  background-color: rgb(122, 125, 122);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  padding: 15px;
}

.site-menu a {
  color: rfb(255, 255, 255);
}

h1 {
  color: rgb(112, 87, 91);
}