body {
  background-color: rgb(235, 235, 235);
}

a {
  color: rgba(0, 0, 0, 0.75);
}

a:hover, a:focus, a:active {
  color: rgba(0, 0, 0, 0.50);
}

@media screen and (max-width: 767px) {
  .col-geokit-site-content {
    padding-left: 30px;
  }
}

.col-geokit-site-content {
  margin-top: 15px;
}

.container-geokit {
  margin-top: 0;
  padding-left: 0;
}

.navbar {
  background-color: rgb(81, 81, 81);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 0;
}

li.open a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: rgb(80, 119, 150);
  box-shadow: none;
  border: 0;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: rgb(80, 119, 150);
}

.dropdown-menu {
  background-color: rgb(101, 149, 189);
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a, ul.dropdown-menu, li.open a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: rgb(255, 255, 255);
}

.dropdown-menu .divider {
  background-color: rgb(250, 246, 237);
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  background-color: rgb(80, 119, 150);
  transition: background-color 0.25s;
  color: rgb(255, 255, 255);
}

li.open a {
  background-color: rgb(101, 149, 189);
}

.dropdown-menu > li > a:hover {
  background-color: rgb(92, 135, 172);
  color: rgb(255, 255, 255);
}

.navbar-default {
  border-radius: 0;
}

.panel-geokit-site-menu {
  border-radius: 0;
  min-height: 100vh;
}

.panel-geokit-site-menu ul li.active {
  font-weight: bold;
}

.panel {
  margin: 50px 0;
}

.powered-by {
  background-color: rgb(211, 213, 223);
  border-bottom: 0;
  color: rgba(0, 0, 0, 0.50);
  padding: 5px 10px 5px 0;
  position: relative;
  z-index: 50;
}

.site-menu {
  background-color: rgb(122, 125, 122);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  padding: 15px;
}

.site-menu a {
  color: rgb(255, 255, 255);
}

.tenant-navigation {

}

h1 {
  color: rgb(112, 87, 91);
}

/* Various SVG styles */

.graph-line {
  fill: none;
  stroke: #000;
}

.info {
  padding: 6px 8px;
  font: 14px/16px;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.legend {
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.footer {
  position: absolute;
  bottom: 0;
  color: rgb(81, 81, 81);
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
footer .container {
  margin-top: 20px;
}
footer a {
  color: rgb(81, 81, 81);
  font-weight: bold;
}
footer a:hover, footer a:focus, footer a:active {
  color: rgb(0, 0, 0);
}

.noUi-tooltip {
  width: 150px;
}
