{% load menu_tags wagtailcore_tags %}
{% get_site_root as site_root %}


<li class="dropdown">
  <a href="#" class="dropdown-toggle tenant-navigation" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>{{ request.tenant.name }}</strong> - Navigation<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li class="dropdown">
      {% for menuitem in menuitems %}
        <li{% if menuitem.active %} class="active"{% endif %}>
          {% if menuitem.show_dropdown %}
            {% if menuitem.active %}<a href="{% pageurl menuitem %}"><span class="glyphicon glyphicon-hand-right"></span> {% endif %}<a href="#">{{ menuitem.title }}</a>
            {% menu_children parent=menuitem %}
          {% else %}
            {% if menuitem.active %}<a href="{% pageurl menuitem %}"><span class="glyphicon glyphicon-play"></span> &nbsp;{% endif %}{{ menuitem.title }}</a>
          {% endif %}
        </li>       
      {% endfor %}
    </li>
  </ul>
</li>