.nav-wrapper .inner {
    background-color: #70575b;
}

.nav-wrapper .inner a {
    color: #eae6e7;
}

#menu-search-q {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.50);
    color: rgb(155,155,155);
}

.breadcrumb {
    background-color: #63645f;
}

.page-explorer .listing .index {
    background-color: #7a7d7a;
}

.page-explorer .listing .index a {
    color: rgb(235, 235, 235);
}

.content {
    background-color: #faf2e1;
}

.tab-content {
    padding: 20px;
}

.tab-content h2 label:before {
    background-color: #70575b;
}

.tab-content h2 {
    background-color: #e8ded1;
}

header, .tab-nav.merged {
    background-color: #7a7d7a;
}

.tab-nav.merged li a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tab-nav.merged li a.active {
    background-color: #faf2e1;
    border-top: 0.3em solid #70575b;
}

.tab-nav.merged li a {
    background-color: #676760;
    border-top: 0.3em solid #676760;
}

.tab-nav.merged li a:hover {
    border-top: 0.3em solid #454548;
}

.breadcrumb li a, .breadcrumb li a:after {
    color: rgb(215,215,215);
}

.logo img {
    width: 119px;
}
