{% extends "wagtailadmin/base.html" %}

{% load staticfiles %}

{% block titletag %}Sieve{% endblock %}
{% block bodyclass %}menu-sieve{% endblock %}

{% block extra_js %}

<script>
    var data = {
        title: "This is a Sieve title",
        description: "This is a Sieve description",
        table_data: [
          {spatialIndex: 'x', temporalIndex: 'y', value: 'z'},
          {spatialIndex: 'x', temporalIndex: 'y', value: 'z'},
          {spatialIndex: 'x', temporalIndex: 'y', value: 'z'},
          {spatialIndex: 'x', temporalIndex: 'y', value: 'z'},
          {spatialIndex: 'x', temporalIndex: 'y', value: 'z'},
        ]
    }
</script>
{% endblock %}

{% block content %}
{% include "wagtailadmin/shared/header.html" with title="Sieve" icon="placeholder" %}

<div class="nice-padding">
    <div id="sieve-container"></div>
</div>
<script src="{% static 'js/bundle.js' %}"></script>
{% endblock %}