{% extends "wagtailadmin/base.html" %}

{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
<style>
  .map {
    height: 400px;
  }
</style>
{% endblock %}

{% block titletag %}Sieve{% endblock %}
{% block bodyclass %}menu-sieve{% endblock %}

{% block extra_js %}
<script src="https://fb.me/react-0.14.3.js"></script>
<script src="https://fb.me/react-dom-0.14.3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.28.1/react-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flux/2.1.1/Flux.js"></script>
<script src="https://rawgit.com/Olical/EventEmitter/master/EventEmitter.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
<script>
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
<script src="{% static 'js/Actions.js' %}"></script>
<script src="{% static 'js/VariableStores.js' %}"></script>
<script type="text/babel" src="{% static 'js/sieve.js' %}"></script>
{% endblock %}

{% block content %}
{% include "wagtailadmin/shared/header.html" with title="Sieve" icon="placeholder" %}

<div class="nice-padding">
    <div id="sieve-container"></div>
</div>
{% endblock %}
