nav {
  background-color: transparent;
}
.navbar ul li ul {
  width: 250px;
}
.navbar-default {
  background-color: transparent;
  border: 0;
}
.navbar-default a.navbar-brand, .navbar-default a.navbar-brand:hover, .navbar-default a.navbar-brand:active, .navbar-default a.navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active, .navbar-default .navbar-nav li a:focus {
  color: #ffffff;
}
.navbar-collapse {
  border: 0;
}
.navbar-default .nav-geokit > .open > a,
  .navbar-default .nav-geokit > .open > a:focus,
  .navbar-default .nav-geokit > .open > a:active,
  .navbar-default .nav-geokit > .open > a:hover {
  background-color: rgba(119, 135, 116, 1.00);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.50);
}
.navbar-default .nav-geokit li a {
  font-weight: bold;
}
.nav-geokit  li ul {
  background-color: rgba(119, 135, 116, 1.00);
  border: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.50);
}
.nav-geokit > li > .dropdown-menu {
  border-top-left-radius: 5px;
}
.nav-geokit > li > .dropdown-menu a:hover {
  background-color: rgba(94,115,96, 0.55);
}
.nav-geokit input.textInput {
  background-color: rgba(255, 255, 255, 0.85);
  border: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.50);
}
.nav-geokit input.textInput:focus, .nav-geokit input:active {
  background-color: rgba(255, 255, 255, 1.00);
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.35);
}
  .nav-geokit .btn, .nav-geokit .btn-primary {
  background-color: rgba(125, 137, 167, 0.85);
  border: 0;
  color: rgba(255, 255, 255, 1.00);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.50);
  display: block;
}
.nav-geokit btn:active, .nav-geokit .btn-primary:active, .nav-geokit .btn-primary:focus {
  background-color: rgba(125, 137, 167, 1.00);
  border: 0;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35), 1px 1px 3px rgba(0, 0, 0, 0.50);
  outline: none;
}
@media (max-width: 767px) {
  nav {
    background-color: transparent;
  }
  .navbar ul {
    width: 100%;
  }
  .navbar-header {
    background-color: rgba(0, 0, 0, 0.60);
  }
  .navbar-default {
    background-color: transparent;
    border: 0;
  }
  .navbar-default a.navbar-brand, .navbar-default a.navbar-brand:hover, .navbar-default a.navbar-brand:active, .navbar-default a.navbar-brand:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active, .navbar-default .navbar-nav li a:focus {
    color: #ffffff;
  }
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.50);
    border: 0;
  }
  .navbar-toggle {
    border: 0;
  }
  .form-control {
    width: 50vw;
  }
  .navbar-toggle:focus, .navbar-toggle:active, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: rgb(255, 255, 255);
  }
  .navbar-default .nav-geokit > .open > a,
    .navbar-default .nav-geokit > .open > a:focus,
    .navbar-default .nav-geokit > .open > a:active,
    .navbar-default .nav-geokit > .open > a:hover {
    background-color: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: none;
  }
  .navbar-default .nav-geokit li a {
    font-weight: bold;
  }
  .nav-geokit  li ul {
    background-color: rgba(119, 135, 116, 1.00);
    border: 0;
    box-shadow: none;
  }
  .nav-geokit > li > .dropdown-menu {
    border-top-left-radius: 5px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff;
  }
  .nav-geokit > li > .dropdown-menu a:hover {
    background-color: rgba(94,115,96, 0.55);
  }
  
  .nav-geokit input.textInput {
    background-color: rgba(255, 255, 255, 0.85);
    border: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.50);
  }
  
  .nav-geokit input.textInput:focus, .nav-geokit input:active {
    background-color: rgba(255, 255, 255, 1.00);
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
  }
    .nav-geokit .btn, .nav-geokit .btn-primary {
    background-color: rgba(125, 137, 167, 0.85);
    border: 0;
    color: rgba(255, 255, 255, 1.00);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.50);
    display: block;
  }
  .nav-geokit btn:active, .nav-geokit .btn-primary:active, .nav-geokit .btn-primary:focus {
    background-color: rgba(125, 137, 167, 1.00);
    border: 0;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35), 1px 1px 3px rgba(0, 0, 0, 0.50);
    outline: none;
  }
}